[2022-02-01 16:36] danholdaway opened #5 "Add error trapping to Stage task"
The stage task can not be run concurrently and needs some error trapping.

[2022-02-09 14:54] danholdaway opened #15 "Next tag tracking"
This is an issue where we can track the features that go into the next tag so we can provide detailed release notes:

- Updated stage task that can be run multiple times.
- Better error trapping in the RunExecutable tasks
- Changes to fv3-jedi to improve the GEOS IO.
- fv3-jedi configuration maintained within swell instead of from fv3-jedi.
- Better error messages in the Git interface.

[2022-05-12 14:08] danholdaway opened #58 "Develop the observation operator configuration YAML"
## Tracking of problems that have been fixed or are being worked on

### AMSUA:

- [ ] Snow over ice is incorrect in the GeoVaLs. This is due to the missing values (large positive number) being used instead of not being used over the ocean/sea ice.
- [ ] Fixed surface GeoVaLs in fv3-jedi differ significantly from GSI GeoVaLs
- [ ] FV3-JEDI lacks a land mask for interpolation.
- [ ] EMC noted pecul

[2022-05-12 14:17] danholdaway opened #59 "YAML Configuration | AMSUA"
## Agreement with GSI using GeoVaLs in UFO (Hofx no bias correction)

- [x] AQUA
- [x] METOP-A
- [x] METOP-B
- [x] METOP-C
- [x] NOAA-15
- [x] NOAA-18
- [x] NOAA-19

## Agreement with GSI using GeoVaLs in UFO (Bias correction)

- [x] AQUA
- [x] METOP-A
- [x] METOP-B
- [x] METOP-C
- [x] NOAA-15
- [x] NOAA-18
- [x] NOAA-19

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [x] AQUA
- [

[2022-05-12 16:36] danholdaway opened #60 "YAML Configuration | Aircraft"
## Agreement with GSI using GeoVaLs in UFO (Hofx no bias correction)

- [x] Done

## Agreement with GSI using GeoVaLs in UFO (Bias correction)

- [ ] Done

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [ ] Done

## Agreement with GSI using GeoVaLs in UFO (Hofx with bias correction)

- [ ] Done

## Agreement with GSI using Swell

- [ ] Done

## Current issues:

- [x] https://githu

[2022-05-12 16:37] danholdaway opened #61 "YAML Configuration | AIRS"
## Agreement with GSI using GeoVaLs in UFO (Hofx no bias correction)

- [x] AQUA

## Agreement with GSI using GeoVaLs in UFO (Bias correction)

- [x] AQUA

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [x] AQUA

## Agreement with GSI using GeoVaLs in UFO (Hofx with bias correction)

- [x] AQUA

## Agreement with GSI using Swell

- [ ] AQUA

## Pull requests in JEDI

- [ ] [Pull r

[2022-05-12 16:38] danholdaway opened #62 "YAML Configuration | AMSR2"
## Agreement with GSI using GeoVaLs in UFO (Hofx no bias correction)

- [x] GCOM-W1

## Agreement with GSI using GeoVaLs in UFO (Bias correction)

- [x] GCOM-W1

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [x] GCOM-W1

## Agreement with GSI using GeoVaLs in UFO (Hofx with bias correction)

- [x] GCOM-W1

## Agreement with GSI using Swell

- [ ] GCOM-W1

## Current issues:

- So

[2022-05-12 16:38] danholdaway opened #63 "YAML Configuration | ATMS"
## Agreement with GSI using GeoVaLs in UFO (Hofx no bias correction)

- [x] NOAA-20
- [x] NPP

## Agreement with GSI using GeoVaLs in UFO (Bias correction)

- [x] NOAA-20
- [x] NPP

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [x] NOAA-20
- [x] NPP

## Agreement with GSI using GeoVaLs in UFO (Hofx with bias correction)

- [x] NOAA-20
- [x] NPP

## Agreement with GSI using Swell

[2022-05-12 16:38] danholdaway opened #64 "YAML Configuration | AVHRR"
## Agreement with GSI using GeoVaLs in UFO (Hofx no bias correction)

- [x] Metop-A
- [x] NOAA-18

## Agreement with GSI using GeoVaLs in UFO (Bias correction)

- [x] Metop-A
- [x] NOAA-18

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [x] Metop-A
- [x] NOAA-18

## Agreement with GSI using GeoVaLs in UFO (Hofx with bias correction)

- [x] Metop-A
- [x] NOAA-18

## Agreement with

[2022-05-12 16:39] danholdaway opened #65 "YAML Configuration | CRIS"
## Agreement with GSI using GeoVaLs in UFO (Hofx no bias correction)

- [x] NOAA-20
- [x] NPP

## Agreement with GSI using GeoVaLs in UFO (Bias correction)

- [x] NOAA-20
- [x] NPP

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [x] NOAA-20
- [x] NPP

## Agreement with GSI using GeoVaLs in UFO (Hofx with bias correction)

- [x] NOAA-20
- [x] NPP

## Agreement with GSI using Swell

[2022-05-12 16:39] danholdaway opened #66 "YAML Configuration | GMI"
## Agreement with GSI using GeoVaLs in UFO (Hofx no bias correction)

- [x] GPM

## Agreement with GSI using GeoVaLs in UFO (Bias correction)

- [x] GPM

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [x] GPM

## Agreement with GSI using GeoVaLs in UFO (Hofx with bias correction)

- [x] GPM

## Agreement with GSI using Swell

- [ ] GPM

## JEDI PRs

- [x] https://github.com/JCSDA-

[2022-05-12 16:39] danholdaway opened #67 "YAML Configuration | GNSSRO"
## Agreement with GSI using GeoVaLs in UFO (Hofx)

- [x] Done

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [x] Done

## Agreement with GSI using Swell

- [ ] Done

## JEDI PRs

- [ ] https://github.com/JCSDA-internal/ioda-converters/pull/1038
- [x] https://github.com/JCSDA-internal/ioda-converters/pull/1089
- [ ] https://github.com/JCSDA-internal/ufo/pull/2872

## Current issue

[2022-05-12 16:39] danholdaway opened #68 "YAML Configuration | IASI"
## Agreement with GSI using GeoVaLs in UFO (Hofx no bias correction)

- [x] Metop-A
- [x] Metop-B

## Agreement with GSI using GeoVaLs in UFO (Bias correction)

- [x] Metop-A
- [x] Metop-B

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [x] Metop-A
- [x] Metop-B

## Agreement with GSI using GeoVaLs in UFO (Hofx with bias correction)

- [x] Metop-A
- [x] Metop-B

## Agreement with

[2022-05-12 16:40] danholdaway opened #69 "YAML Configuration | MHS"
## Agreement with GSI using GeoVaLs in UFO (Hofx no bias correction)

- [x] Metop-B
- [x] Metop-C

## Agreement with GSI using GeoVaLs in UFO (Bias correction)

- [x] Metop-B
- [x] Metop-C

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [x] Metop-B
- [x] Metop-C

## Agreement with GSI using GeoVaLs in UFO (Hofx with bias correction)

- [x] Metop-B
- [x] Metop-C

## Agreement with

[2022-05-12 16:40] danholdaway opened #70 "YAML Configuration | MLS"
## Agreement with GSI using UFO

- [x] AURA

## Agreement with GSI using Swell

- [x] AURA

## Current issues:

- Repeat times in the ioda data converted from the raw files. Need to look at the raw files.
- Might need some new code to do error inflation by level.

[2022-05-12 16:40] danholdaway opened #71 "YAML Configuration | OMI"
## Agreement with GSI using UFO
 - [x] AURA
## Agreement with GSI using Swell

- [x] AURA

## Current issues:

- None

[2022-05-12 16:40] danholdaway opened #72 "YAML Configuration | RASS"
## Agreement with GSI using GeoVaLs in UFO (Hofx)

- [ ] Done

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [ ] Done

## Agreement with GSI using Swell

- [ ] Done

## Current issues:

- None

[2022-05-12 16:40] danholdaway opened #73 "YAML Configuration | Satwind"
## Agreement with GSI using GeoVaLs in UFO (Hofx)

- [x] Done

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [x] Done

## Agreement with GSI using Swell

- [ ] Done

## Current issues:

[2022-05-12 16:41] danholdaway opened #74 "YAML Configuration | Scatwind"
## Agreement with GSI using GeoVaLs in UFO (Hofx)

- [x] Done

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [x] Done

## Agreement with GSI using Swell

- [ ] Done

## Current issues:

- None

[2022-05-12 16:41] danholdaway opened #75 "YAML Configuration | SEVIRI"
## Agreement with GSI using GeoVaLs in UFO (Hofx no bias correction)

- [ ] M11

## Agreement with GSI using GeoVaLs in UFO (Bias correction)

- [ ] M11

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [ ] M11

## Agreement with GSI using GeoVaLs in UFO (Hofx with bias correction)

- [ ] M11

## Agreement with GSI using Swell

- [ ] M11

## Current issues:

- None

[2022-05-12 16:41] danholdaway opened #76 "YAML Configuration | Surface"
## Agreement with GSI using GeoVaLs in UFO (Hofx)

- [ ] Done

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [ ] Done

## Agreement with GSI using Swell

- [ ] Done

## Current issues:

- None

[2022-05-12 16:41] danholdaway opened #77 "YAML Configuration | Surface ship"
## Agreement with GSI using GeoVaLs in UFO (Hofx)

- [ ] Done

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [ ] Done

## Agreement with GSI using Swell

- [ ] Done

## Current issues:

- None
## Notes

- In order to avoid conflicts in IODA converter, the obstypes of drifting buoys are re-assigned to 180 or 280 from 199 or 299 in GEOS NetCDF diagnostic files only. In addition, as

[2022-05-12 16:41] danholdaway opened #78 "YAML Configuration | Radiosondes"
## Agreement with GSI using GeoVaLs in UFO (Hofx)

- [ ] Done

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [ ] Done

## Agreement with GSI using Swell

- [ ] Done

## Current issues:

- [ ] https://github.com/JCSDA-internal/ufo/pull/2218

[2022-05-12 16:42] danholdaway opened #79 "YAML Configuration | SSMIS"
## Agreement with GSI using GeoVaLs in UFO (Hofx no bias correction)

- [x] F17

## Agreement with GSI using GeoVaLs in UFO (Bias correction)

- [x] F17

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [x] F17

## Agreement with GSI using GeoVaLs in UFO (Hofx with bias correction)

- [x] F17

## Agreement with GSI using Swell

- [ ] F17

## Current issues:

- None

[2022-05-12 16:42] danholdaway opened #80 "YAML Configuration | Vadwind"
## Agreement with GSI using GeoVaLs in UFO (Hofx)

- [ ] Done

## Agreement with GSI using GeoVaLs in UFO (Quality control)

- [ ] Done

## Agreement with GSI using Swell

- [ ] Done

## Current issues:

- None

[2022-05-12 19:24] gmao-yzhu commented on #59
AMSU-A NOAA19 has passed UFO tests, code changes and two new yaml files were merged into UFO develop.

[2022-05-18 13:51] HamidehGMAO commented on #64
Hi @gmao-jjin3, looking again at the avhrr obs and geovals here /gpfsm/dnb31/jjin3/jedi/For_others/x0044j/gsidiag_2_ufo/ncdiag/ob/x0044j/PT6H/2020-12-15, I see the the AVHRR files have been generated on May 12th, and you have more recent run for other radiances like gmi. I was wondering if these AVHRR files have the same issue you explained this morning? or they should be fine

[2022-05-18 14:08] gmao-jjin3 commented on #64
These files should be fine for testing. Wei's new issue is about observational error in IASI data. I don't think it is an issue in AVHRR data since we don't consider correlated observational errors for these data. But, please let me know if you have any issues.

[2022-05-18 14:38] HamidehGMAO commented on #64
OK, Sounds good. Thanks for the in formation. Also, I was wondering if you could point me to the background data you used for creating these geoval data. I was wondering if the surface temperature here is really Skin temperature or not. Thanks

[2022-05-18 15:01] gmao-jjin3 commented on #64
Here is the GSI program writing out diagnostic data:
/discover/nobackup/jjin3/GEOSadas_git/GEOSadas/src/Components/@GEOSana_GridComp/GEOSaana_GridComp/GSI_GridComp/setuprad.f90

Here is the Python code to convert GSI outputs to UFO testing files:
/discover/nobackup/jjin3/jedi/ioda-bundle/iodaconv/src/gsi-ncdiag/gsi_ncdiag.py_20220512

[2022-05-18 15:05] HamidehGMAO commented on #64
Thanks a lot Jianjun, I will take a look.

[2022-05-18 15:25] gmao-msienkie commented on #78
Original yaml file fails to be processed -  the input data is missing 'LaunchTime' values.  If a station has more than one launch in a synoptic time, the launch time would be used to group the obs from each launch separately.  In the GSI the obs error inflation when multiple obs exist inside vertical model layers is done report-by-report, hence, sounding by sounding.  Without launch time the multi

[2022-05-18 20:58] gmao-yzhu commented on #59
When testing NOAA18, I found that UFO results didn't match with GSI. Jianjun made plots and further narrowed the issue down to the locations over ice, i.e., when ice-fraction=1 and sst=260.

I diff-ed CRTM code and fixed files and confirmed we are using the same version in GSI with UFO.
When I read the CRTM codes, I noticed that over ice, sst will be re-set to 260 if it is >= 280.

So this issue m

[2022-05-19 04:29] gmao-yzhu commented on #59
@gmao-jjin3 I added some printout from UFO calculation.

Here are the locations where sst=260.0 with inconsistent Tb with GSI:
[code]

If I printed out the results around profile 2490, you'll see that all nearby profiles' sst=280 but they are over ocean, so it is likely the original sst of profile 2490 is also 280, but it re-set to 260 in crtm because it is over ice (ice-frac=1.0):
[code]

Similar

[2022-05-19 05:17] gmao-jjin3 commented on #59
@gmao-yzhu  I think you nailed it!

[2022-05-20 19:32] gmao-jjin3 commented on #59
@gmao-yzhu   The x0044 was re-run after some modification in GSI which now stores the CRTM input values of "ice_temperature".  I had a quick UFO test using those testing files made from my new GEOS outputs.  The GSI Hofx can be fully reproduced in UFO now. See a comparison  between those Hofx before bias correction in /discover/nobackup/jjin3/jedi/swell_output/amsua/ufo_output_woBC/newIODA/.

[2022-05-20 19:40] gmao-jjin3 commented on #59
@gmao-yzhu. You should set your CRTM coefficient files' path to the directory which has locally modified values when using these new testing files:
CoefficientPath: /gpfsm/dnb52/projects/p10/gmao_ops/fvInput_4dvar/gsi/etc/fix_ncep20210525/REL-2.2.3-r60152_local-rev_5/CRTM_Coeffs/Little_Endian/

[2022-05-24 13:00] gmao-yzhu commented on #59
@gmao-jjin3 Thank you for generating the testing files and for testing them. Could you pass me the location of the files?

[2022-05-24 13:09] gmao-yzhu commented on #59
@gmao-jjin3 I'm also wondering if there is any inconsistency in the calculation of ice locations of such scenario in the CRTM.  In an area with SST=280, the value of SST is re-set to 260 at ice locations in the surface part calculation but it seems 280 is still used somewhere at these ice locations.  I will check with CRTM team.

[2022-05-24 17:43] gmao-jjin3 commented on #59
@gmao-yzhu   You can use this command to find the data: e.g., amsua_n19:
**find $NOBACKUP/jedi/For_others/x0044j -iname "*amsua_n19*"**
As to your question, the surface temperature is only changed when surface is "ice" for AMSUA. It is not changed when surface is "snow". Not sure about the impact.

[2022-05-25 14:06] gmao-jjin3 commented on #66
There is a pending issue (https://github.com/JCSDA-internal/ufo-data/issues/164) that adding bias correction to hofx values before they are used for cloud retrievals.  As a result, validation of GMI quality control on-hold at the moment.

[2022-05-25 18:11] karpob commented on #71
@danholdaway I'm thinking the issues with ozone instruments might need to be reworked? We don't bias correct ozone obs. Also, I'm not exactly sure exactly what the first checkbox is. Running the ufo standalone with GSI GeoVaLs, and making sure it compares with the GSI output? If so, we can check some of those off, because I did that a year ago+ for OMI, and OMPS-NM. I don't think we did that exact

[2022-05-25 20:00] HamidehGMAO commented on #64
you can find the plots here: "https://docs.google.com/presentation/d/1HAd8AqAQheEm1up8KbKQoW69TCqVGIe0gGhy4JS0VJQ/edit#slide=id.g12e603c7e54_0_62"

[2022-05-25 21:49] gmao-yzhu commented on #59
Using the new testing files Jianjun produced --

The tests of UFO HofX (w/o BC) of all AMSU-A satellites failed. However ...
1) this is associated with a new issue, which didn't exist before. In the new testing files, the bad channels or passive channels of GsiHofX are stored with values of zeros, which caused the UFO HofX tests failures.
2) If we set the testing range of Obsvalue to be [-999, 999

[2022-05-25 23:16] gmao-yzhu commented on #59
The tests of UFO HofX with Bias correction basically have the same situation as the above mentioned UFO HofX w/o BC. Here I post several figures from NOAA18 HofX with bias correction.
![amsua_n18 UFO_Obs_Number O-F_BC ch04 ps](https://user-images.githubusercontent.com/73974278/170384543-8d5dd029-6241-4e82-8671-723d9f0e254f.png)
![amsua_n18 UFO_ObsValue-hofx ObsValue-GsiHofXBc_BC ch01 ps](https://u

[2022-05-26 03:04] gmao-yzhu commented on #59
AMSU_A NOAA18 quality control and observation error test:

fig_name=amsua_n18.UFO_EffectiveError.GsiFinalObsError_QC.ch01.ps
--------- Differences 'UFO_EffectiveError_QC' - 'GsiFinalObsError_QC':  -1.04904e-05  1.09673e-05
fig_name=amsua_n18.UFO_EffectiveError.GsiFinalObsError_QC.ch02.ps
--------- Differences 'UFO_EffectiveError_QC' - 'GsiFinalObsError_QC':  -2.00272e-05  2.14577e-05
fig_name=amsu

[2022-05-26 05:43] gmao-jjin3 commented on #59
@gmao-yzhu  I generated those testing files again. Basically, GSI Hofx values are set to NaN when ObsValues are huge values in the IODA converter.  My UFO tests using new AMSUA data now pass without an error.

[2022-05-26 13:27] gmao-yzhu commented on #59
@gmao-jjin3 Thanks very much for re-generarting the new testing files. Yes, they are working now. I just tested UFO HofX with bias correction for Metop-C, the ctest passed, with the following results:

Test     : Vector difference between reference and computed: amsua_metop-c nobs= 135208 Min=-8.3672971499026971e-05, Max=8.0261969515049714e-05, RMS=9.5035773574081308e-06

[2022-05-26 17:37] gmao-jjin3 commented on #73
@asewnath  I think the "inflation" is to handle "ratio_errors" in setupw.f90. If you can program "ratio_errors" in your yaml file, however, you may not need this "inflation".  I add Meta in this message. @gmao-msienkie

[2022-05-27 20:31] gmao-yzhu commented on #59
AMSU-A_Metop-C: 2 points out 5179 have smaller final observation errors than GSI.
AMSUA-n15: 3 points out of 3800 of ch4 have smaller final observation errors than GSI.
![amsua_metop-c UFO_Obs_Number O-F_BC_QC ch04 ps](https://user-images.githubusercontent.com/73974278/170785230-fa3f4601-0fcb-41b3-98bb-f35c4b98e514.png)
![amsua_metop-c UFO_EffectiveError GsiFinalObsError_QC ch04 ps](https://user-i

[2022-05-27 20:55] gmao-yzhu commented on #59
AMSU-A_Metop-a also has 2 points out 3608 have smaller final observation errors than GSI.

[2022-05-27 21:58] gmao-yzhu commented on #59
In summary, UFO testings:

1. Code changes were merged into JEDI UFO develop (pull requests #1899, 1938, 1981).
2. Tb CRTM simulations, bias corrections, data passing quality control, OmF histogram match well with GSI results.
3. Final observation errors from UFO generally match well with GSI, but noticeable differences are observed as the following: AMSU-A_Metop-a, Metop-c each has 2 points and n

[2022-06-01 16:39] gmao-jjin3 commented on #63
Here is an old pull request fixing the segment fault in ATMS emissivity over snow surface.
https://github.com/JCSDA-internal/crtm-old/pull/74

[2022-06-01 16:41] gmao-jjin3 commented on #63
Here is the issue
https://github.com/JCSDA-internal/ufo-old/issues/1100

[2022-06-01 19:06] gmao-jjin3 commented on #63
The fix is in the UFO/CRTM and my previous test also passed with this fix in Sep 2020.

[2022-06-02 16:43] karpob commented on #71
@danholdaway @kwargan I think I know why the IODA converter doesn't get the geovals from the ncdiags. I have to take a look, but my guess is the IODA converter is expecting the ozone variable name to have ppmv in it or something. What is output from the GSI is labelled as "mass_concentration_of_ozone_in_air". So, I think the geovals are there, but they're not the name the converter is expecting, n

[2022-06-02 17:04] danholdaway commented on #71
OK great. I think it could be quite useful if the ufo tests could be run for those instruments without too much effort. But if it seems like a lot of reworking of GSI is needed maybe it isn't worth it?

[2022-06-02 17:08] karpob commented on #71
I think it might be possible to make a mod to the IODA converter to take on the mass concentration and convert it. It might take some tweaking depending upon what the GSI/UFO thinks that conversion factor is. I think it was consistent by x0044, but I'm not 100% sure.

[2022-06-02 17:09] karpob commented on #71
I'll have a look at it, because I'm debugging some converter stuff anyway.

[2022-06-02 23:08] karpob commented on #71
@danholdaway I can play with this also, but if you want to try it, I made a mod which I think works.
https://github.com/JCSDA-internal/ioda-converters/tree/feature/ozone_geoval_geos

I tested it on one file and it outputs a geoval file with sane geovals for ozone in ppmv.

@kwargan Not sure if the value I got from the current gsi is consistent with what x044 was at the time.
`o3_conv = 603447.6`

[2022-06-03 03:32] gmao-jjin3 commented on #63
Emily reported an issue about ATMS sea ice emissivity in Jan 2021.
https://github.com/JCSDA-internal/ufo/issues/621

[2022-06-03 13:31] danholdaway commented on #71
Thanks @karpob. The changes look sensible to me. If you have a file with sensible looking GeoVaLs is it worth putting together a UFO test (with or without QC) to check it works? If so then you could make a PR with these changes to ioda-converters.

[2022-06-03 19:02] #5 closed

[2022-06-03 19:03] #15 closed, assigned to asewnath, danholdaway, CRWayman, jardizzo

[2022-06-03 19:05] danholdaway opened #86 "Improve error trapping in Swel"
It would be worthwhile to create an error trapping capability, perhaps accessible to the tasks through the base class. Currently there is only the logger abort class.

[2022-06-03 19:05] danholdaway opened #87 "Provide the task list when issuing `swell_task --help`"

[2022-06-03 19:08] danholdaway opened #88 "Improve the JEDI build system"
- Rewrite the task that will build JEDI, utilizing the jedi-bundle repo in GEOS-ESM
- Should we have modules for when JEDI is pre-built?
- Isolate the repo dependency lists from the experiment.yaml files

[2022-06-08 14:55] danholdaway opened #89 "Produce accurate CRTM Surface GeoVaLs from FV3-JEDI"
Evaluate the surface GeoVaLs produced by FV3-JEDI for the CRTM. Ensure that there is good agreement in the GeoVaLs before running comparisons of h(x) with surface sensitive channels.

[2022-06-08 14:56] danholdaway commented on #89
![gsi_vs_jedi_map_amsua_n19_ice_area_fraction](https://user-images.githubusercontent.com/27729500/172648953-77a84518-1e7c-42fd-9dcc-619a6c19c632.png)
![gsi_vs_jedi_geovals_amsua_n19_ice_area_fraction](https://user-images.githubusercontent.com/27729500/172648963-8d07254f-4b76-4417-aa86-74c25bcd9732.png)

[2022-06-08 14:57] danholdaway commented on #89
![gsi_vs_jedi_map_amsua_n19_land_area_fraction](https://user-images.githubusercontent.com/27729500/172649044-bfd0a4c9-4668-4671-b4af-03df5bba9fb8.png)
![gsi_vs_jedi_geovals_amsua_n19_land_area_fraction](https://user-images.githubusercontent.com/27729500/172649041-68edfbf9-6c78-48c2-afb0-e33d154c9d9a.png)

[2022-06-08 16:47] danholdaway commented on #89
@gmao-yzhu @rgelaro @gmao-jjin3 @karpob these show the plots produced by Francois Hebert at the JCSDA in developing the FOV. It's interesting that GMAO-GSI is the outlier. These are all the vales that are passed directly to the CRTM. It makes me wonder if we could have been doing the wrong thing in GSI? Since these fields are after whatever mapping has been applied, isn't it true to say that funda

[2022-06-08 17:17] gmao-wgu commented on #68
**Bugs found and fixed in _NearSSTRetCheckIR.cc_, _ObsErrorFactorSurfJacobianRad.h_ and _ObsErrorFactorSurfJacobianRad.cc_. Impacts of the fixes on QC can be shown in the following figures.**
 **For Window Channels:**
**Before Fixes**
![iasi_metop-a Swell_Obs_Number O-F_BC_QC ch180 ps](https://user-images.githubusercontent.com/59488002/172672841-61dc4d7f-4de8-4aa3-b695-571af7e25b84.png)
**After Fi

[2022-06-08 17:21] danholdaway commented on #68
Great stuff @gmao-wgu!

[2022-06-08 17:54] kwargan commented on #70
Getting an error in EvaDriver when running swell 1.0.5 with OMI. No plots get generated. The error log says:
[A lot of things followed by]
File "/discover/nobackup/drholdaw/opt/core/miniconda/3.9/lib/python3.9/site-packages/xarray/backends/netCDF4_.py", line 167, in _nc4_require_group
    raise OSError("group not found: %s" % key, e)
OSError: [Errno group not found: GsiEffectiveQC] 'GsiEffectiveQC

[2022-06-08 17:58] kwargan commented on #71
Getting an error in EvaDriver when running swell 1.0.5 with OMI. No plots get generated. The error log says:
[A lot of things followed by]
File "/discover/nobackup/drholdaw/opt/core/miniconda/3.9/lib/python3.9/site-packages/xarray/backends/netCDF4_.py", line 167, in _nc4_require_group
raise OSError("group not found: %s" % key, e)
OSError: [Errno group not found: GsiEffectiveQC] 'GsiEffectiveQC'
20

[2022-06-08 18:02] kwargan commented on #71
It's consistent with the current(ish) version of the GSI and I don't think that number has changed since the Cretaceous

[2022-06-08 18:04] danholdaway commented on #71
OK. Let me regenerate the Observations files using the latest ioda-converters and see if that variable makes its way in.

[2022-06-08 18:04] karpob commented on #71
No, Ricardo changed it recently. If you look at the commented out number, that's the one since the Cretaceous.

[2022-06-08 18:06] kwargan commented on #71
Oh I didn't know that. I looked in the tag we're working with for R21C. Not sure what tag that is

[2022-06-08 18:06] karpob commented on #71
`! real(r_kind),parameter::  constoz = 604229.0_r_kind ! Where did this come from?`

[2022-06-08 18:08] karpob commented on #71
I don't think that's necessarily my problem with testing the UFO. I'm double checking to make sure the data necessary to run is in there. Something seems off.

[2022-06-08 18:09] kwargan commented on #71
I'm finding this value (604229.0_r_kind) in a pretty old version of the GSI. No idea what tag x0044 used, though.

[2022-06-08 18:11] kwargan commented on #71
So does anyone know what this means and if it can be related to the input files? It's just OMI, no OMPS
OSError("group not found: %s" % key, e)
OSError: [Errno group not found: GsiEffectiveQC] 'GsiEffectiveQC'
2022-06-08T17:41:00Z CRITICAL - failed/ERR

[2022-06-08 18:19] danholdaway commented on #71
Ok I've updated all the ozone files and reverted them to what we had before. They are under the experiment called `x0044_jjin_20220520`. It seems that ioda-converters does not add `GsiEffectiveQC` to the converted files for ozone. I'm not sure why that would be the case. Perhaps it was only added for radiances and conventional. Or perhaps the ncdiags do not contain what ioda-converters needs in or

[2022-06-08 18:20] danholdaway commented on #71
I'll push some changes to remove the reading on GsiEffectiveQC by default so that the code works for ozone. I'll also turn an ozone instrument on by default so this kind of thing will be captured in testing going forward.

[2022-06-08 18:26] kwargan commented on #71
Thanks, Dan. I shall try that now. Do I need to change anything to get the data from x0044_jjin_20220520 or is it the default in 1.0.5?

[2022-06-08 18:26] danholdaway commented on #71
That's the default

[2022-06-08 19:08] karpob commented on #71
@danholdaway OK, I'm definitely missing something here with just the default UFO (not looking at swell or anything). Looking at the default test for OMI straight out of the box (I don't change it to my files, just what is in the testinput directory), and I change the tolerance from 1e-4 to 1e-8, all test still pass. Does the UFO only test TLM/ADJ now?
e.g. I run ctest
`ctest -R test_ufo_linopr_atm

[2022-06-08 19:32] karpob commented on #71
@danholdaway sorry, running the wrong test. I want opr not linopr.

[2022-06-08 19:42] kwargan commented on #71
@danholdaway
OMI works for me now (although it needs more testing) but OMPS-NM fails in JediConfig:
ABORT JediConfig: In find_instrument_from_string the string swell-experiment.ompsnm_npp.2020-12-14T21:00:00Z.nc4does not contain one of the valid instruments:
where OMPS-NM appears to be there but listed as {'ioda name': 'ompstc8_npp', 'full name': 'OMPSTC-8 (NPP)'}

We can revisit this next week. I

[2022-06-08 19:58] danholdaway commented on #71
Could there be a problem with naming convention in this file: https://github.com/GEOS-ESM/swell/blob/develop/src/swell/configuration/observation_ioda_names.yaml

[2022-06-08 20:05] kwargan commented on #71
Instead of
 - ioda name: ompstc8_npp
    full name: OMPSTC-8 (NPP)
I would do
 - ioda name: ompsnm_npp
    full name: OMPS Nadir Mapper (NPP)
Same convention as for OMPS-NP (the preceding entry)

[2022-06-08 20:13] danholdaway commented on #71
OK. I'll make the change as I turn add the eva fix

[2022-06-09 18:02] karpob commented on #71
@danholdaway @kwargan So I'm pretty sure it won't be possible to run the stand alone UFO by running a modified ioda converter to take in the ozone profiles. There's something odd about how the geoval `air_pressure_levels` are filled in the ncdiags. There are NaNs, zeros, etc that just break things. I tried to filter them out, but I think the fill values sometimes get read in as "something." I migh

[2022-06-09 20:34] danholdaway commented on #71
OK. Thanks for looking carefully into it @karpob. If you think it best to drop the effort that sounds good. You can build swell using the branch in this PR https://github.com/GEOS-ESM/swell/pull/91 and it should work again for ozone instruments. The PR turns MLS and OMI on by default for all runs so they shouldn't break again. I didn't turn on OMPS as the Yaml isn't there yet. But once you/@kwarga

[2022-06-13 16:38] gmao-wgu commented on #68
**It was found that only one location has the discrepancy between jedi and the GSI in terms of the effective observations error.  In the GSI, this location was treated over land surface type while in the Jedi it was treated over ice surface type. Because the surface Jacobian check applied inflates observation error differently over different surface types, thus the final effective errors are diffe

[2022-06-13 16:55] danholdaway commented on #68
Good detective work. I would have thought the surface type was determined from the GeoVaLs, but wouldn't they be identical between the two runs being compared?

[2022-06-13 17:13] gmao-wgu commented on #68
ioda converter reads in the surface type fractions which are the values from the GSI analysis after one outer-loop, I guess somehow GSI analysis modified the surface type fraction at that location.

[2022-06-13 17:52] gmao-wgu commented on #68
I need to check with @gmao-jjin3  to see how this happened. @gmao-jianjun

[2022-06-13 18:07] danholdaway commented on #68
Yeah, it might require further discussion. It seems like an unlikely location for ice. The points on the plot do not appear to be organized like a satellite track. Is that expected?

[2022-06-13 18:17] gmao-wgu commented on #68
The points on the plot are in the satellite track:

![EffectiveError_GSImJedi_ch515_global](https://user-images.githubusercontent.com/59488002/173418335-d082029a-6a61-4793-bfdb-33933541b8b6.png)

[2022-06-13 18:22] danholdaway commented on #68
Thanks for the clarification.

[2022-06-13 18:38] gmao-jjin3 commented on #68
Wei, I am not sure that is the case. Not sure why. However, can you print out ice_fraction and land fraction at this spot in JEDI and GSI?  Make sure the discrepancy is because of surface type change.

[2022-06-13 18:46] gmao-wgu commented on #68
I did print out in Jedi @gmao-jjin3 , the followings are what I got:
     latitude: 34.0224
     longitude: 279.133
     location: 4900
     obserror = 0.699445
    out = 6.61471
    water_frac=   0
    land_frac=   0
    ice_frac=   1
    snow_frac=   0
    dbtdes = 47.0935
    dbtdts = 0.79016
    demisf= 0.03
    dtempf = 4
so could you print out yours in the GSI? Note that the index in the seq

[2022-06-13 18:52] gmao-wgu commented on #68
I calculated the error inflation value by hand based on these numbers, the surface type at this location should be land in the GSI @gmao-jjin3

[2022-06-13 19:05] gmao-jjin3 commented on #68
@gmao-wgu  Can you point me where is your UFO output file?  I just need it in my program.

[2022-06-13 19:08] gmao-wgu commented on #68
ctest.j.o59230426_mismatch under /discover/nobackup/wgu/jedi_build/build-intel-impi-release/ufo. please search for "location" for those printout @gmao-jjin3

[2022-06-13 20:05] danholdaway commented on #58
@CoryMartin-NOAA we will try to use the EPIC to document any global issues that we find with the instruments. Hopefully you see this tagging.

[2022-06-13 21:25] gmao-jjin3 commented on #68
Wei:  The Land_Fraction is 0.00 in both original GSI output and the geoval file.
in /archive/u/jjin3/x0044j/obs/Y2020/M12/D15/H00/x0044j.diag_iasi_metop-a_ges.20201215_00z.nc4
Latitude=      34.0224
Longitude=      279.133
Land_Fraction=      0.00000
Ice_Fraction=      1.00000

/discover/nobackup/jjin3/jedi/For_others/x0044j/gsidiag_2_ufo/ncdiag/geovals/x0044j/PT6H/2020-12-15/iasi_metop-a_geoval_2

[2022-06-13 21:53] gmao-wgu commented on #68
It is so strange @gmao-jjin3.  Could you please print out the values of other 2 parameters: emissivity_k, ts immediately after call qc_irsnd in the subroutine of setuprad.f90 at this location of (34.0224, 279.133) and i =180? Based on these two values, I could evaluate the error inflation by hand.

[2022-06-13 22:01] gmao-wgu commented on #68
@gmao-jjin3 Is it possible that inside GSI the value of ice_fraction is not 1 at this location?

[2022-06-14 01:29] gmao-jjin3 commented on #68
Wei, all the test data come from the first outer-loop, and these geophysical values, forward processing, and QC are consistent in GSI. It is very unlikely that surface types are updated before these first outer-loop results are written out in GSI.    However, it is puzzling that there is ice in Georgia.  Maybe, we should also check surface types near this spot.

[2022-06-14 02:43] gmao-jjin3 commented on #69
A cloud index function for MHS is added in UFO. The observational error inflation function is updated for MHS data in GEOS all-sky assimilation. Now observational errors can be reproduced in UFO.  See the git-hub PR https://github.com/JCSDA-internal/ufo/pull/2072 .

[2022-06-14 04:12] gmao-jjin3 commented on #69
![mhs_metop-b UFO_Obs_Number O-F_BC_QC ch1 ps](https://user-images.githubusercontent.com/61251050/173491806-aaa0eb09-5636-4475-a68e-7933c98c8cd8.png)
![mhs_metop-b UFO_Obs_Number O-F_BC_QC ch2 ps](https://user-images.githubusercontent.com/61251050/173491807-618dbb9e-cdba-4b1e-b306-8e0a21a28b30.png)
![mhs_metop-b UFO_Obs_Number O-F_BC_QC ch3 ps](https://user-images.githubusercontent.com/61251050/17

[2022-06-14 04:14] gmao-jjin3 commented on #69
There are still slight differences in number of data passing quality control in GEOS and UFO, even though O-F and obs errors are identical (see below) in the two systems.

[2022-06-14 04:31] gmao-jjin3 commented on #69
![mhs_metop-b UFO_EffectiveError GsiFinalObsError ch3 ps](https://user-images.githubusercontent.com/61251050/173493689-dfa85123-f453-4c21-b7a1-24553954274c.png)
![mhs_metop-b UFO_ObsValue-hofx ObsValue-GsiHofXBc_BC ch3 ps](https://user-images.githubusercontent.com/61251050/173493713-90083aed-a925-4f19-9cd0-fecb1b5171ad.png)

[2022-06-14 13:17] danholdaway commented on #69
Would you be able to provide specifics on the number of observations passing QC? I suppose the values are not identical to all digits so some things might be falling on a different side of an if statement somewhere

[2022-06-14 13:57] gmao-wgu commented on #68
@gmao-jjin3 could you take a look at the surface type at this location from bkg files? that is what the GSI analysis is based on.

[2022-06-14 16:15] gmao-jjin3 commented on #68
Wei, that could give a clue. However, I suspect that CRTM sees different surface types in GSI and UFO. You might be right on this. However, we checked these surface types yesterday and they are the same. Maybe, the surface type in the GEOS output is not the one used in GSI at this spot.  However, this change is not added in UFO.

[2022-06-14 16:19] gmao-wgu commented on #68
@gmao-jjin3 If that is the case, we can pass this issue and leave it as is.

[2022-06-14 16:45] gmao-jjin3 commented on #68
Wei,  take a look at lines between 1552 ~ 1555 in
/gpfsm/dnb31/jjin3/GEOSadas_git/GEOSadas/src/Components/@GEOSana_GridComp/GEOSaana_GridComp/GSI_GridComp/crtm_interface.f90
It is possible that surface coverage is changed from "land" to "ice" here. However, error inflation is done with land_type=true in GSI.  ice_type = true in UFO since UFO reads ice_coverage and land_coverage in GSI outputs in w

[2022-06-14 16:48] gmao-msienkie commented on #60
The original YAML file attempts to assign observation errors for specific KXs via the 'Bounds Check' filter.  These will be replaced with 'Perform Action'.

[2022-06-14 16:53] gmao-wgu commented on #68
@gmao-jjin3 that is great, then the problem solved and we just leave it as is.

[2022-06-14 17:00] gmao-wgu commented on #68
I posted the relevant code for reference.  Thank you @gmao-jjin3
[code]

[2022-06-14 17:11] gmao-jjin3 commented on #68
Thanks. I may have to edit setuprad.f90 and re-run x0044.

[2022-06-15 04:05] gmao-jjin3 commented on #68
Wei, can you give a try of new testing data? They are in the directory: /gpfsm/dnb31/jjin3/jedi/For_others/x0044.jj_20220614/

find /gpfsm/dnb31/jjin3/jedi/For_others/x0044.jj_20220614/ -iname "\*iasi_metop-a\*"

[2022-06-15 12:51] gmao-wgu commented on #68
@gmao-jjin3  Thanks. I will give it a try.

[2022-06-15 14:16] kwargan commented on #71
Dumb question: how do I update my swell to include these changes?

[2022-06-15 14:52] danholdaway commented on #71
You can grab 1.0.6 of swell now. It should have everything you need to run with ozone

[2022-06-15 20:01] gmao-jjin3 commented on #62
![amsr2_gcome-w1 UFO_Obs_Number O-F_BC_QC ch09 ps](https://user-images.githubusercontent.com/61251050/173916548-fd76952f-e463-4ce2-b1be-0ad04554d735.png)
![amsr2_gcome-w1 UFO_Obs_Number O-F_BC_QC ch11 ps](https://user-images.githubusercontent.com/61251050/173916553-11668865-e60d-43c3-8d73-c575825c02bc.png)

[2022-06-15 20:02] gmao-jjin3 commented on #62
![amsr2_gcome-w1 UFO_ObsValue-hofx ObsValue-GsiHofXBc_BC_QC ch09 ps](https://user-images.githubusercontent.com/61251050/173916680-ddb054d0-2609-47a2-a3e8-f9b73e33e834.png)
![amsr2_gcome-w1 UFO_ObsValue-hofx ObsValue-GsiHofXBc_BC_QC ch11 ps](https://user-images.githubusercontent.com/61251050/173916683-7c01a1ec-2700-49ea-9a0d-e9590b7c9f41.png)

[2022-06-15 20:53] gmao-yzhu commented on #63
We encountered an issue with error message "Caught SIGFPE: floating-point invalid operation" when calculating simulated ATMS radiances.

Similar to what Emily did, when I added a bunch of print statements, it ran successfully to the end for ATMS_n20 together with bias correction. the results are below:
27: Test : Vector difference between reference and computed: atms_n20 nobs= 232417 Min=-7.529432

[2022-06-16 01:30] danholdaway commented on #59
@gmao-yzhu @rgelaro I made the same plots we looked at yesterday but from the data Yanqui's UFO with GSI GeoVaLs run put out. Can confirm that we do not see the same problems. I think the first thing we need to check is that we are using the same bias correction files. I strongly suspect not and that swell is picking up the incorrect files. Yanqui/@gmao-jjin3  would you be able to point me to the

[2022-06-16 02:45] gmao-jjin3 commented on #59
@danholdaway  I believe Yanqiu uses data in /discover/nobackup/jjin3/jedi/For_others/x0044j/ . You can search bias correction, geoval, and observational files by a command like :
find /discover/nobackup/jjin3/jedi/For_others/x0044j -iname "\*amsua_n19\*"

These data are made from  /archive/u/jjin3/x0044.jj_20220520/
I did produce some new X0044 results in order to solve Wei's issue. Now running th

[2022-06-16 12:54] rgelaro commented on #59
Thanks, Dan.

Wei reported again yesterday that, also for the IR, he finds one or a few obs that don't match between UFO and GSI.  The points in your plot are always so close to the coast, I wonder if there's a mask, land-type, or interpolation between land and sea that's just a bit off between the two systems.

Ron
________________________________
From: Dan Holdaway ***@***.***>
Sent: Wednesday,

[2022-06-16 15:03] gmao-yzhu commented on #59
Dan,

UFO checked the maximum and minimum as well as RMSE. I recall I didn't see those large values in max, min and RMSE. One possibility is that UFO excluded unreasonable observations in its verification. I know that is also what Jianjun did in his plotting tool.  Could you make a plot of observation value?

Thanks,
Yanqiu

[2022-06-16 17:39] gmao-yzhu commented on #59
Dan,

I re-ran the AMSU-A NOAA18 ufo test, here is the comparison statistics results of OmF after bias correction:

23: Test     : Vector difference between reference and computed: amsua_n18 nobs= 137076 Min=-6.7971999527571825e-05, Max=8.2725437550834613e-05, RMS=9.1908880846134932e-06

Yanqiu

[2022-06-16 19:23] gmao-wgu commented on #68
@gmao-yzhu  A new QC filter(SurfTypeCheckRad) was developed to reject radiance observations over certain surface types like how we treat ozone channels in IASI in the GSI. This filter can be used as in the following:
[code]
If we want to reject observations over non-water surface types from ozone channels in IASI, simply set clddet value to be 31 for these channels.  The impacts can be seen by com

[2022-06-16 19:25] danholdaway commented on #59
OK. Thanks for checking. That definitely sounds good enough!

[2022-06-16 20:44] gmao-yzhu commented on #59
Here is comparison results for amsua noaa19 OmF after bias correction:

18: Test     : Vector difference between reference and computed: amsua_n19 nobs= 138938 Min=-4.4930507613116788e-05, Max=4.8407639155811921e-05, RMS=7.5823839249824830e-06

[2022-06-16 20:47] danholdaway commented on #59
Thanks @gmao-yzhu! Good to know. I wonder what could be causing the difference in the plots. I'll focus on trying to understand the differences with swell for now.

[2022-06-17 12:39] gmao-jjin3 commented on #73
@asewnath  It turns out that it is not straight forward to write background air-pressure for winds as for radiance data in GSI.  @danholdaway is there a tool to write out geoval in Swell?

[2022-06-17 12:42] danholdaway commented on #73
We can write the GeoVaLs out from swell but I'm not sure that's useful in this context. What is needed is to run the UFO tests where we take the same inputs and outputs from GSI and make sure the results are the same. Can you elaborate on the issue? I believe that GeoVaLs have been written out by GSI for the purpose of testing conventional data. Perhaps there is a branch on the NOAA side that has

[2022-06-17 13:23] gmao-jjin3 commented on #73
@danholdaway **The Python IODA converter requires "air_pressure" information in GSI diagnostic files. Here is an error message of the converter:**

I think we need outputs in "setupw.f90" as in "setuprad.f90":
           call nc_diag_data2d("air_pressure", sngl(atmosphere(1)%pressure*r100))
           call nc_diag_data2d("air_pressure_levels", sngl(atmosphere(1)%level_pressure*r100) )
However, unl

[2022-06-17 15:57] CoryMartin-NOAA commented on #73
We had to add it manually, see here: https://github.com/JCSDA-internal/GSI/blob/feature/jedi_gdas/src/gsi/setupw.f90

search `prsltmp2`

[2022-06-17 17:08] danholdaway commented on #73
Thanks @CoryMartin-NOAA. @gmao-jjin3 would you be able to try and follow what EMC has done to get that change in?

[2022-06-17 18:21] gmao-jjin3 commented on #73
Thank you @CoryMartin-NOAA and @danholdaway .  I'll try it.

[2022-06-21 13:15] gmao-jjin3 commented on #73
@asewnath and @danholdaway  Here are the geoval and obs files
/discover/nobackup/jjin3/jedi/For_others/x0044.jj_20220619/gsidiag_2_ufo/ncdiag/geovals/x0044j/PT6H/2020-12-15/satwind_geoval_2020121500.nc4
/discover/nobackup/jjin3/jedi/For_others/x0044.jj_20220619/gsidiag_2_ufo/ncdiag/ob/x0044j/PT6H/2020-12-15/ncdiag.x0044j.ob.PT6H.satwind.2020-12-14T21:00:00Z.nc4

Let me know if you have any questio

[2022-06-22 12:53] gmao-jjin3 commented on #69
A note:  It is "average_surface_temperature_within_field_of_view@GeoVaLs", not the "surface_temperature_where_sea@GeoVaLs", that is used by GSI to check sea surface temperature.

[2022-06-22 13:20] danholdaway opened #92 "Updates to GSI to output the required GeoVaLs for conventional data"
- Code from EMC in SetupW.
- Rerun the GSI
- Ready to run GeoVaLs test for satellite winds.
- Need to look at what's needed for other conventional data.
- BK: check the naming convention for pressure to make sure it's consistent with what ioda converters expects.

[2022-06-22 14:34] gmao-jjin3 commented on #68
@gmao-wgu,  New data are in /discover/nobackup/jjin3/jedi/For_others/x0044.jj_20220619/

[2022-06-22 14:36] gmao-jjin3 commented on #63
@gmao-yzhu  New testing files are in /discover/nobackup/jjin3/jedi/For_others/x0044.jj_20220619/

[2022-06-22 15:00] gmao-jjin3 commented on #64
@HamidehGMAO , can you try new data in /discover/nobackup/jjin3/jedi/For_others/x0044.jj_20220619
Search  "avhrr3" in that directory.

[2022-06-22 19:09] danholdaway commented on #63
@gmao-yzhu the crash for NPP seems to be caused by missing data in the files. There are several locations where not all channels have a valid brightness temperature. For example, here are all the brightness temperatures at the crashing profile, as written out by the UFO (before the CRTM is called):

[code]

Then [here](https://github.com/JCSDA-internal/crtm/blob/944148bce060be7dbbe5a8a89e6dd06cdcb

[2022-06-22 19:44] gmao-wgu commented on #68
@gmao-jjin3 The test files you generated on 20220619 could not produce matched Tb between Jedi and the GSI, but surface types match well.

[2022-06-22 20:19] danholdaway opened #93 "YAML Configuration | OMPS-NM"
## Agreement with GSI using UFO
- [x] NPP
## Agreement with GSI using Swell

- [x] NPP

## Current issues:

- None

[2022-06-22 20:27] danholdaway commented on #63
You can run with this branch: https://github.com/JCSDA-internal/crtm/pull/371

[2022-06-22 20:37] gmao-jjin3 commented on #68
@gmao-wgu  Is this about iasi_metop-a which has matched data with the old files?

[2022-06-22 20:39] gmao-wgu commented on #68
@gmao-jjin3 I did not test with iasi-metop-a.

[2022-06-22 21:03] gmao-jjin3 commented on #68
@gmao-wgu Can you test those new iasi_metop-a files? Thanks.

[2022-06-22 21:08] gmao-wgu commented on #68
@gmao-jjin3 I guess tb will be mismatched too for metop-a

[2022-06-22 21:46] gmao-wgu commented on #68
@gmao-jjin3 I will use the old one to test metop-b.  Thank you always.

[2022-06-24 04:17] gmao-jjin3 commented on #73
@asewnath  I took a look at your file /discover/nobackup/asewnath/satwind_test/satwind_geos_HofX_out.txt which you shared with me. I don't see anything wrong. However, vertical interpolation is just the first step.  I'd suggest you take a look at these two yaml files which I don't know who wrote them, and test these wind data type by type.
/discover/nobackup/jjin3/jedi/fv3-bundle/ufo/ewok/jedi-gda

[2022-06-24 13:08] danholdaway commented on #73
Possibly also worth looking in https://github.com/JCSDA-internal/ufo/tree/develop/ewok/skylab but it looks like a lot of the filters are commented out in these files. But I think the key here is to look through the GSI and try to figure out all the filters that are happening for satwinds. I suspect @gmao-msienkie might be helpful in this regard too.

[2022-06-24 17:03] mathomp4 opened #95 "Add YAML Checking GitHub Action"
In a few GEOS-ESM repos that include YAML files now, I've added a yaml linting action, e.g.:

https://github.com/GEOS-ESM/GOCART/pull/164

@danholdaway (on Teams) said he thinks this would be good to have here.

[2022-06-24 17:11] #95 closed, assigned to mathomp4

[2022-06-24 18:06] gmao-jjin3 commented on #92
Hello, @CoryMartin-NOAA  Can you tell me which files you changed in order to make geoval and observational files for testing aircraft observations in UFO?  Thanks.

[2022-06-24 20:24] CoryMartin-NOAA commented on #92
@gmao-jjin3 you will need to change each `setup*.f90` file (e.g. `setupt`, `setupw`) and add all of the necessary fields to the netCDF diagnostic output routines. As I linked in the other issue, this has largely been done in the http://github.com/jcsda-internal/gsi feature/jedi_gdas branch that you can use as an example.

[2022-06-24 22:25] gmao-jjin3 commented on #92
I see.  Thank you @CoryMartin-NOAA .

[2022-06-25 04:13] gmao-jjin3 commented on #69
![mhs_metop-b UFO_Obs_Number ObsValue-GsiHofXBc_BC_QC ch5 ps](https://user-images.githubusercontent.com/61251050/175757570-57cf03b3-b9fb-446b-80fb-75d4807d5613.png)
![mhs_metop-b UFO_Obs_Number ObsValue-GsiHofXBc_BC_QC ch4 ps](https://user-images.githubusercontent.com/61251050/175757574-0f9595d4-ddf7-42c8-a9de-0466940c6c7a.png)
![mhs_metop-b UFO_Obs_Number ObsValue-GsiHofXBc_BC_QC ch3 ps](https://

[2022-06-25 04:22] gmao-jjin3 commented on #69
Now, there are identical QC filters in UFO and GEOS for MHS in all-sky conditions after updating ObsErrorBoundMW.cc and other programs in the UFO git-hub PR: https://github.com/JCSDA-internal/ufo/pull/2102

[2022-06-27 13:37] danholdaway commented on #69
Great stuff @gmao-jjin3. Can you add the YAML files to swell? Then once your changes are in develop of ufo we can tag again pointing to an updated build of JEDI.

[2022-06-27 14:14] gmao-jjin3 commented on #92
Here is a branch in a PR https://github.com/GEOS-ESM/GEOSana_GridComp/pull/93 to be merged later. These changes are only for radiance and satwinds data, not yet for other types of observations.

[2022-06-29 04:06] gmao-jjin3 commented on #69
**mhs_metop-c HofX, bias correction, and quality control are reproduced by UFO.**
![mhs_metop-c UFO_ObsValue-hofx ObsValue-GsiHofXBc_BC_QC ch5 ps](https://user-images.githubusercontent.com/61251050/176349219-ce8ca1c8-7137-43fe-bccc-b725e55fca2b.png)
![mhs_metop-c UFO_ObsValue-hofx ObsValue-GsiHofXBc_BC_QC ch4 ps](https://user-images.githubusercontent.com/61251050/176349226-8df09bf1-f662-4e73-80a7-

[2022-06-29 04:07] gmao-jjin3 commented on #69
![mhs_metop-c UFO_Obs_Number ObsValue-GsiHofXBc_BC_QC ch5 ps](https://user-images.githubusercontent.com/61251050/176349335-241916c4-6f93-4169-94f9-37c417faabac.png)
![mhs_metop-c UFO_Obs_Number ObsValue-GsiHofXBc_BC_QC ch4 ps](https://user-images.githubusercontent.com/61251050/176349338-6c76d474-0a29-4c2c-a599-7aa44073d8ac.png)
![mhs_metop-c UFO_Obs_Number ObsValue-GsiHofXBc_BC_QC ch3 ps](https://

[2022-06-29 04:07] gmao-jjin3 commented on #69
![mhs_metop-c UFO_ObsValue-hofx ObsValue-GsiHofXBc_BC_QC ch5 ps](https://user-images.githubusercontent.com/61251050/176349423-1b789d7e-b736-4a97-b3a8-13d4c027c159.png)
![mhs_metop-c UFO_ObsValue-hofx ObsValue-GsiHofXBc_BC_QC ch4 ps](https://user-images.githubusercontent.com/61251050/176349424-0cdcbe71-32c0-4bc7-bc5a-91d6039f71de.png)
![mhs_metop-c UFO_ObsValue-hofx ObsValue-GsiHofXBc_BC_QC ch3 ps]

[2022-06-29 04:30] gmao-jjin3 commented on #69
![mhs_metop-c UFO_EffectiveError GsiFinalObsError ch3 ps](https://user-images.githubusercontent.com/61251050/176351963-a5042df8-0ab6-4444-b61c-32c00120caec.png)

[2022-06-29 17:50] gmao-wgu commented on #68
For **iasi_metop-b**,  total 18 channels out of 141 do not have the agreement between the GSI and Jedi in terms of the number of observations that can pass their respective QC.  Channel 129 has the difference of 3 and  seven channels: 135 138, 140, 142, 145, 149, 161 have the difference of 2 and the remaining ten channels have the difference of 1.

The histogram plots for channel 107, 129 and 140

[2022-06-29 17:50] gmao-yzhu commented on #63
In addition to the AMSU-A like channels, ATMS has 6 more higher frequency channels including water vapor channels. I have made QC code changes for these higher frequencies and they are already merged into fv3-bundle.

A bug is found and fixed in fv3-bundle hydrometeor code for ATMS. Will submit a PR to fv3-bundle.

With the fix of the bug, consistent UFO results are obtained against GSI results fo

[2022-06-29 17:59] gmao-yzhu commented on #63
Thanks Dan for the crtm branch. I will try it for atms npp.

[2022-06-29 18:12] danholdaway commented on #68
Do flags have the same meaning in GSI and JEDI?

[2022-06-29 18:14] danholdaway commented on #63
Great that everything works now for N20!

[2022-06-29 18:30] gmao-wgu commented on #68
Unfortunately, they do not. But in the GSI, each flag has the clear meaning but does not have that in the Jedi. For example, in the GSI, the observations with the flag number 7 means it was rejected by the cloud detection.  While in the Jedi, the observation with the flag number 12 means it was rejected by the bounds check, but we do not know which one: observations range sanity check or cloud det

[2022-06-29 19:21] gmao-jjin3 commented on #63
@gmao-yzhu Can you check those observational errors in GSI and UFO as well?  Just a double-check, even though the histograms suggest they match.

[2022-06-29 19:37] gmao-jjin3 commented on #68
I guess these mismatches are because the lack of manipulation of surface_area_fractions/types in UFO. The manipulation is done in crtm_interface.f90 in GSI. Some of it such as ice_temperature for AMSUA was added in CRTM source code @gmao-yzhu . As to IASI, you can have matched HofX but inflated error with altered surface type. However, you cannot get HofX reproduced with the original (background)

[2022-06-29 22:40] gmao-yzhu commented on #63
@gmao_jjin3 Yes, I had checked ATMS N20 observational errors in GSI and UFO, please see the above third figure. They matched very well.

For ATMS NPP, I tested it in UFO with Dan's CRTM branch due to the CRTM sea ice issue, while the GSI results were still created using the original CRTM.
The results looked good in terms of histogram of OmF passing QC, OmF with bias correction, and final observati

[2022-06-29 23:07] gmao-msienkie commented on #60
In order to match our GSI, the ObsErrorFactorConventional filter will need to be modified to work like the errormod_aircraft code with additional checks for horizontal distance between aircraft observations.

[2022-06-30 01:52] danholdaway commented on #63
Great! Glad that the crtm changes are working out. Hopefully they will be merged soon.

[2022-07-06 18:16] gmao-wgu commented on #65
For CrIS-fsr_NPP, the UFO has the good agreement with the GSI in terms of the number of observations that can pass the QC, OMF with bias correction and the effective observation errors. Here, the window channel of 962.500cm-1(10.39micron) is selected to show the agreement:

![cris-fsr_npp Swell_Obs_Number O-F_BC_QC ch219 ps](https://user-images.githubusercontent.com/59488002/177616038-a091190b-53c

[2022-07-06 19:26] gmao-jjin3 commented on #92
More changes in order to write out x0044 results for IODA converter. No changes for GPS data yet. No merge from the develop branch.
https://github.com/GEOS-ESM/GEOSana_GridComp/pull/93

[2022-07-09 18:18] gmao-jjin3 commented on #64
@HamidehGMAO  New UFO testing files are in /discover/nobackup/jjin3/jedi/For_others/x0044.jj_20220708.nst_gsi/
These are made from an x0044-like run, but with "NST_GSI=0".  Its results are  in /archive/u/jjin3/x0044.jj_20220708.nst_gsi/ .

[2022-07-13 23:10] gmao-wgu commented on #65
So is the CrIS-fsr_n20, the consistency can also be achieved between the GSI and UFO.

[2022-07-18 13:14] danholdaway commented on #65
Great stuff @gmao-wgu. Thanks!

[2022-07-19 18:09] danholdaway commented on #63
@gmao-yzhu: the CRTM PR was merged so this should be working with the develop version of JEDI now. Tomorrow I will work on a new build of JEDI and then update the swell tag to point to a new build.

[2022-07-26 18:50] gmao-jjin3 commented on #66
![gmi_gpm UFO_clw_guess_ret_jedi clw_guess_retrieval ch5 ps](https://user-images.githubusercontent.com/61251050/181087813-980df199-9401-4782-b0a1-0e0c82a27f49.png)
![gmi_gpm UFO_clw_obs_ret_jedi clw_obs ch5 ps](https://user-images.githubusercontent.com/61251050/181087828-2368d2bc-757e-475f-9dc6-e54b9ccd0add.png)

Clouds can be derived correctly in JEDI.  X-axis, clouds from GSI; Y-axis, clouds fro

[2022-07-26 18:53] gmao-jjin3 commented on #66
![gmi_gpm UFO_EffectiveError GsiFinalObsError_QC ch05 ps](https://user-images.githubusercontent.com/61251050/181088389-f9fefab3-2be2-4e45-bc02-048d99a3308d.png)
![gmi_gpm UFO_EffectiveError GsiFinalObsError_QC ch13 ps](https://user-images.githubusercontent.com/61251050/181088405-38522fd9-008d-44e5-b699-7203731ae017.png)

GIS obervational errors (x-axis) are reproduced in JEDI as well (y-axis).

[2022-08-02 02:22] gmao-jjin3 commented on #66
Departures of GMI data in GEOS are fully reproduced in UFO after its bias correction is finalized in UFO. There is git-hub pull request for the latest update: https://github.com/JCSDA-internal/ufo/pull/2179.  Here are departure difference ranges and observational error difference ranges:
***********  ch01 differences 'UFO_ObsValue-hofx_BC_QC' - 'ObsValue-GsiHofXBc_BC_QC':  -4.57764e-05  4.57764e-0

[2022-08-02 04:35] gmao-jjin3 commented on #66
![gmi_gpm UFO_ObsValue-hofx ObsValue-GsiHofXBc_BC_QC ch05 ps](https://user-images.githubusercontent.com/61251050/182292553-2a9893c6-5781-4543-91d6-302836d47f56.png)
![gmi_gpm UFO_ObsValue-hofx ObsValue-GsiHofXBc_BC_QC ch13 ps](https://user-images.githubusercontent.com/61251050/182292559-bb5cdd09-00a3-4101-976a-d59e191f63ff.png)

[2022-08-10 14:47] danholdaway commented on #60
In setting up the run for Meta I generated the GSI hofx vs JEDI hofx plots for aircraft to make sure it was working.

Here is the plot for temperature (not bias corrected)

![gsi_hofx_vs_jedi_hofx_air_temperature](https://user-images.githubusercontent.com/27729500/183932529-aec5eda6-6ea5-40ce-9ca6-ae7b81114636.png)

A perfect match. However here are the plots for wind:

![gsi_hofx_vs_jedi_hofx_eas

[2022-08-10 20:02] gmao-msienkie commented on #60
The difference in Jedi HofX and GSI HofX could be due to proximity to the surface.  When I plotted observations only above 600 hPa there was good agreement between the two.

[2022-08-10 20:25] gmao-msienkie commented on #60
![press_dist_0 1diff](https://user-images.githubusercontent.com/53273921/184013175-ae7bd8e2-19fc-4320-8026-368186abbb6c.png)

[2022-08-10 20:59] danholdaway commented on #60
Thanks for uploading the plots @gmao-msienkie

[2022-08-11 23:21] gmao-msienkie commented on #60
There is a dataset "wind_reduction_factor_at_10m" in the wind geovals file that contains the 'factw' factor used to reduce the wind speed near the surface.  Here is a plot comparing the uHofX from the GSI with uHofX JEDI and with uHofX*factw - this wind reduction factor is needed to have the UFO output agree with the GSI.
![uHofX_with_factw](https://user-images.githubusercontent.com/53273921/18425

[2022-08-12 12:35] danholdaway commented on #60
Voila! Thanks for tracking this down @gmao-msienkie. Does this require some source code changes in JEDI?

[2022-08-12 12:38] danholdaway commented on #60
Is `wind_reduction_factor_at_10m` something that would come in the PREPBUFR? If not I wonder if we should be recomputing `wind_reduction_factor_at_10m` in JEDI. So we don't end up having to revisit this when we start going from BUFR instead of NCDiags for the JEDI obs.

[2022-08-12 13:42] gmao-msienkie commented on #60
I think it will need some code changes.  I didn't see anything resembling this operation in the documentation.  It would also apply to the satellite winds so Akira could also take a look to see if I missed something.

[2022-08-12 13:48] rgelaro commented on #60
This is great to see, Meta!   Obviously, this helps Akira move the ball down the field too.

[2022-08-12 14:08] gmao-msienkie commented on #60
No, the information to obtain this is not in the PREPBUFR, it is obtained from the background fields and then the 'factw' is scaled based on the distance above the surface and below the first model level.  If the observation height is above the height of the first model level this factor is set to 1.

[2022-08-17 15:54] gthompsnJCSDA commented on #60
Good catch everyone!  Yes during take-offs and landings, I suspect that factw has a role to play - although I would be quite surprised these winds are being put into the DA as actual used winds.  As a meteorologist, there's no way I trust the airplane winds within the typical Delta-Z of between surface and 1st model level considering the *vast* majority of airports also report the winds at 10 mete

[2022-08-17 16:00] gthompsnJCSDA commented on #60
BTW, I would be more hesitant to include factw into SatWinds - *OTHER* than the ASCAT or sea-surface winds, because I cannot imagine that satellite-derived AMVs are being used operationally within about 100hPa of the surface.  I was pretty shocked when I saw the number of obs being rejected either near the surface or low levels in general within the GDAS.  However, since there is effectively no ha

[2022-08-17 16:28] danholdaway commented on #60
@gthompsnJCSDA we need this to replicate the behavior of GSI for all conventional, satwinds, raobs, aircraft etc. In gsi whenever a wind observation is below the lowest model level it needs to be scaled to replicate GSI. We'll work on an implementation in AtmVertInterp for now. Though perhaps it should be a filter? Whatever we do it will be non-intrusive and off by default.

[2022-08-17 17:09] gthompsnJCSDA commented on #60
Dan, I am a bit lost. Is ```use_fact10``` only available via GSISfcModel or is it also an option in VertInterp?  Should be pretty quick to copy code from the one to other if not already there.

[2022-08-17 18:23] asewnath commented on #73
Confirming that the HofX of GSI and Jedi reaches agreement when Jedi's HofX is multiplied by the `wind_reduction_factor_at_10m` variable found in the associated geoval file.

<img width="619" alt="Screen Shot 2022-08-17 at 2 18 47 PM" src="https://user-images.githubusercontent.com/14252652/185214262-39340034-8469-464d-acd5-32ec991c15d3.png">

<img width="623" alt="Screen Shot 2022-08-17 at 2 20 24

[2022-08-17 19:25] danholdaway commented on #60
@gthompsnJCSDA we plan to add that feature also the AtmVertInterp operator.

[2022-08-17 21:00] gmao-wgu commented on #61
For AIRS long-wav(LW) temperature channels and mid-wave water-vapor channels, the consistency between the GSI and UFO can be achieved,  which can be demonstrated from the following plots by using ch006(LW temperature) and ch212(Mid-Wave water-vapor) as examples:

![airs_aqua Swell_Obs_Number O-F_BC_QC ch006 ps](https://user-images.githubusercontent.com/59488002/185240664-861adddd-65fd-4687-9410-9e

[2022-08-17 21:18] gmao-msienkie commented on #60
Another issue with the aircraft bias correction is that the aircraft vertical velocity was not written to the nc4 diag file - the vertical velocity (ascent/descent rate) and squared vertical velocity would be needed as predictors for the aircraft bias correction that is being used in the current DAS.  That is another delay on the temperature implementation.

[2022-08-17 21:36] gmao-wgu commented on #61
@gmao-jjin3 @danholdaway @gmao-yzhu
However, some short-wave temperature channels from AIRS are also assimilated in the GEOS. For those channels, the number of obs passing QC seems not matched between the GSI and UFO which can be seen from the following plot by using channel 227 as an example:
![airs_aqua Swell_Obs_Number O-F_BC_QC ch227 ps](https://user-images.githubusercontent.com/59488002/18524

[2022-08-17 22:50] danholdaway commented on #60
@gmao-msienkie can we make the necessary changes to GSI ahead of the next rerun that @gmao-jjin3 would make?

[2022-08-18 01:35] danholdaway commented on #73
@asewnath @gmao-msienkie you can use `feature/windfact10` of ufo now. The YAML change looks like: https://github.com/JCSDA-internal/ufo/blob/63e74170127a22dfa46f4e783119f7054f81cc28/test/testinput/instrumentTests/Aircraft_obs/aircraft_gfs_HofX.yaml#L23

[2022-08-18 04:10] gmao-jjin3 commented on #61
Wei, can you re-plot the histogram figure?  I've update my plotting program. Now, it checks "GsiFinalObsError" which  should be a positive finite number for an actively assimilated observation.

[2022-08-18 05:11] gmao-msienkie commented on #60
It should be an easy change in the GSI, I have example code.

[2022-08-18 14:33] gmao-wgu commented on #61
Thanks. I will give it a try.

[2022-08-18 14:50] karpob commented on #93
Tests passed after using the correct value for coefficients derived from first principles.
[code]
![image](https://user-images.githubusercontent.com/12737769/185425027-9c631374-bb38-4639-b01e-7d3f4af20e3d.png)
![image](https://user-images.githubusercontent.com/12737769/185425219-f729a85f-50f1-476d-be29-c3b080f6b1e8.png)

[2022-08-18 15:08] karpob commented on #71
I added back the check-box for UFO, since we can run the tests now.

Initially, the test failed and the differences between UFO and GSI were several orders of magnitude higher than they should be (still small).  The problem stems from NOAA using an old version of the GSI with an inaccurate value for `constoz` used to produce GeoVaLs for ozone concentration, along with a wrong integration constant

[2022-08-18 15:18] gmao-wgu commented on #61
@gmao-jjin3 @danholdaway @gmao-yzhu
**This is what I got from my replotting(qc=0 plus qc=51).**
![airs_aqua Swell_Obs_Number O-F_BC_QC ch227 ps (1)](https://user-images.githubusercontent.com/59488002/185430951-f2690bdc-fc1d-4818-a71a-e727b1ddf1cf.png)
**It is not correct in the GSI to assign a non-zero qc mark for observations we are still assimilating. We should get that fixed.**

[2022-08-18 16:02] karpob commented on #93
And the corresponding Swell output:
![image](https://user-images.githubusercontent.com/12737769/185441075-3157d9e4-e8c8-4d0e-84e5-dfeaf76a518f.png)
![image](https://user-images.githubusercontent.com/12737769/185441892-69b67724-a070-4af6-83a7-43c6adc47fe3.png)

[2022-08-18 17:01] karpob commented on #70
MLS passes ufo test pretty much down to precision:
nobs= 29736 Min=-9.5467389193970575e-07, Max=1.0826355616444516e-06, RMS=1.7286660774732043e-07

[2022-08-18 17:02] karpob commented on #70
MLS looks fine in Swell also:
![image](https://user-images.githubusercontent.com/12737769/185453258-7fee0e13-4775-453f-a4e9-b1a25cde289a.png)

[2022-08-18 17:29] gmao-msienkie commented on #60
It should be an easy change in the GSI, I have example code.

[2022-08-23 14:28] gmao-jjin3 commented on #66
![gmi_gpm UFO_Obs_Number O-F_BC_QC ch05 ps](https://user-images.githubusercontent.com/61251050/186184571-d5447bdc-26ce-4e06-ba10-d02d402f6546.png)
![gmi_gpm UFO_Obs_Number O-F_BC_QC ch06 ps](https://user-images.githubusercontent.com/61251050/186431884-23c6a744-e54f-4e3a-bde3-3a54db3fdb91.png)
![gmi_gpm UFO_Obs_Number O-F_BC_QC ch10 ps](https://user-images.githubusercontent.com/61251050/186184674-9

[2022-08-23 14:41] gmao-jjin3 commented on #66
There are a few more data screened out by UFO filters than by GSI.  That is because a minor 'bug' in GSI. The retrieval error flag is not checked  when clouds are retrieved using simulated Tb and simulated Tb assuming clear-sky conditions.
[code]
Only the 2nd ierrret is checked in the GSI program setuprad.f90.

[2022-08-23 14:45] gmao-jjin3 commented on #66
Waiting for the merge of the UFO PR: https://github.com/JCSDA-internal/ufo/pull/2230 .

[2022-08-23 15:03] danholdaway commented on #66
Great stuff @gmao-jjin3! Thanks for working through all the challenges.

[2022-08-30 19:36] gmao-msienkie commented on #60
I was looking at the code in ObsErrorFactorConventional.cc and it appears there is a distance threshhold check if a parameter is set
float distthres = options_->distthreshold.value().value_or(0.0f);

[2022-08-31 13:42] gmao-msienkie commented on #60
I have the one-line change added in the branch feature/msienkie/add_cft_vv_nc4

[2022-08-31 16:10] gmao-jjin3 commented on #60
Thanks, Meta. I see the output is added in the develop branch as:
`call nc_diag_metadata("Data_Vertical_Velocity", sngl(data(ivvlc,i))  )`

[2022-08-31 19:30] gmao-wgu commented on #64
@HamidehGMAO @gmao-jjin3 @danholdaway @gmao-yzhu @rgelaro  A bug was found and fixed in cloud detection for AVHRR. It is related the biases which were accounted twice when calculating OMF for cloud detection. The following plots show the impacts.

Before the bug fixes:
![avhrr_metop-a Swell_Obs_Number O-F_BC_QC ch2 ps](https://user-images.githubusercontent.com/59488002/187764023-028da443-b0c1-43b7

[2022-08-31 19:41] HamidehGMAO commented on #64
Thanks a lot @gmao-wgu. Looks great.

[2022-08-31 19:44] gmao-wgu commented on #64
My pleasure @HamidehGMAO

[2022-08-31 19:59] rgelaro commented on #64
Excellent, thanks.

[2022-09-02 04:08] gmao-jjin3 commented on #60
Hi Meta, I was able to save this variable as _**data_vertical_velocity**_ in
/discover/nobackup/jjin3//jedi/For_others/x0044.jj_20220901/conv/aircraft_tsen_obs_2020121500.nc4
However, I couldn't find a tool to convert aircraft bias correction coefficient text files to NeCDF file. Here is an issue Andrew Collard discussed about it with his colleagues at EMC.
https://github.com/JCSDA-internal/ioda-c

[2022-09-02 06:19] gmao-msienkie commented on #60
If you can copy the ana.acftbias file to your data area I can look at the issue when I start implementing the bias correction.

[2022-09-02 13:27] gmao-jjin3 commented on #60
Done. The file /discover/nobackup/projects/gmao/dadev/rtodling/archive/x0044/ana/Y2020/M12/x0044.ana.acftbias.20201214_18z.txt  is copied and renamed as aircraft_bias.20201214_15z.txt .

[2022-09-02 14:01] rgelaro commented on #60
Thank you, Jianjun.

[2022-09-07 16:24] gmao-jjin3 opened #111 "IODA converters (sat bc predictors in the YAML)"
Here is the PR:
https://github.com/JCSDA-internal/ioda-converters/pull/1042

[2022-09-07 16:28] gmao-jjin3 commented on #66
Here is the PR to correctly convert GMI bias correction coefficients:
https://github.com/JCSDA-internal/ioda-converters/pull/1042

[2022-09-14 13:38] danholdaway commented on #67
@gmao-yzhu I've updated the scripts in /discover/nobackup/drholdaw/JediUfoTests so you can make the plots of JEDI h(x) vs GSI h(x) with eva. Interesting the tolerance in the test YAML is set to 1.0e-5 and the test passes. But when I look at the plots (below) there is clearly discrepancy between the systems. Perhaps this is because of there being records and things not being plotted properly.

![gp

[2022-09-14 15:04] danholdaway commented on #78
![sondes_gsihofxbc_vs_hofx_air_temperature](https://user-images.githubusercontent.com/27729500/190192023-ff96587e-89b5-4568-9275-edac52d2097a.png)
![sondes_gsihofxbc_vs_hofx_eastward_wind](https://user-images.githubusercontent.com/27729500/190192025-43d654b8-d47e-4125-be62-165cf4fb4194.png)
![sondes_gsihofxbc_vs_hofx_northward_wind](https://user-images.githubusercontent.com/27729500/190192028-690d

[2022-09-21 18:26] gmao-msienkie commented on #60
A QC test was carried out with just the initial ObsError filters configured.  The values for these filters should match the values in the 'prepobs_errtable.global' file in the GSI.  With only the initial ObsError filters, the 'ObsError' values should match the values for 'GsiInputObsError'.  The values for u- and v- component wind matched.  Unfortunately the 'GsiInputObsError' field was not writte

[2022-09-21 20:46] gmao-jjin3 commented on #60
Meta, here are lists of atmospheric conventional data kx values in the Converter. I added 132 and 232 for dropsonde data. Are there more changes do you see we need add? Thank you.
[code]

[2022-09-21 21:25] gmao-msienkie commented on #60
The issue with the dropsondes is that there were no 132/232 observations on 20201215/00z.  It is December and so not many tropical storms.  There are some a few days before and a few days after.
https://gmao.gsfc.nasa.gov/intranet/science/gms/x0044/TERRA_html/obs2html/Y2020/M12/conv/G5/x0044.pseries.L5.2020120100-2020123118.png
So I think we could let the dropsonde go unless we run test cases on o

[2022-09-30 20:26] asewnath commented on #73
<img width="693" alt="Screen Shot 2022-09-30 at 4 24 26 PM" src="https://user-images.githubusercontent.com/14252652/193350838-2702ac51-cdee-4e45-94b5-5ce135b73bbc.png">

This is where I ended up today. The qc yaml with added filters is here: /discover/nobackup/asewnath/DanJediUfoTests/Config/satwind_geos_qc.yaml

[2022-10-03 17:44] asewnath commented on #73
<img width="694" alt="Screen Shot 2022-10-03 at 1 42 22 PM" src="https://user-images.githubusercontent.com/14252652/193643480-818eac78-3468-4801-8718-af7220498bab.png">

working on fixing one kx at a time as Wei suggested. 247 filters look done

[2022-10-05 23:01] gmao-msienkie commented on #60
The aircraft_profl BUFR files have aircraft obs separated into multilevel records with ascent or descent profiles and other aircraft obs (e.g. at flight level) that are not part of an ascent or descent profile.  The 'errormod_aircraft' process is carried out record by record so that the possible multiple ascent and descent profiles are handled separately.  For the 'ObsErrorFactorConventional' filt

[2022-10-06 13:57] rgelaro commented on #60
Is this essentially what we realized needed to be done during yesterday's meeting?  Or does the assessment above indicate that the step(s) needed to have this information written into the file are more involved than we thought?

[2022-10-06 14:18] gmao-msienkie commented on #60
It is a bit more involved than what I thought.  Jianjun had suggested that the launch time was only being written for radiosondes so I checked the code and found out he was correct.  The read_prepbufr.f90 code would need to be modified in order to fill in a value for launch time for aircraft data in place of the missing value that is currently written.

[2022-10-06 15:01] rgelaro commented on #60
Thanks.  Also, are we sure that the launch time information, were it to be written for aircraft, would provide the information needed to distinguish the ascent/descent and flight-level observations as needed?  I think I recall that we needed to confirm this first, but perhaps not.

[2022-10-06 16:48] gmao-jjin3 commented on #60
Thank you, Meta.  I have a look at the reading code. The "lauchtime" may be saved during reading the Prepbufr and eventually written in NetCDF files by changing one line:
[code]
How do you think?

[2022-10-06 19:43] gmao-msienkie commented on #60
No, I don't think that will work.  We need to use one time for all of the observations in an aircraft report, and I think that time should be based on the DHR value in the header.  That would be hdr(4), which is read in at around line 941.    The obs without  drift information use hdr(4) to get 'time' (from timeobs).  The aircraft and sonde/pibal use the drift time to define 'time'.  I need to che

[2022-10-06 19:48] gmao-jjin3 commented on #60
Thanks, Meta!

[2022-10-07 17:40] gmao-jjin3 commented on #60
Hi Meta, Here are changes I made following your suggestions
[code]
It is easier to see them by "xxdiff":
`xxdiff /discover/nobackup/jjin3/tmp/GEOSadas/src/Components/@GEOSana_GridComp/GEOSaana_GridComp/GSI_GridComp/read_prepbufr.f90_20220929  /discover/nobackup/jjin3/tmp/GEOSadas/src/Components/@GEOSana_GridComp/GEOSaana_GridComp/GSI_GridComp/read_prepbufr.f90
`
I didn't have a clue to get the "in

[2022-10-07 19:49] gmao-msienkie commented on #60
I'm sorry.  I already modified the read_prepbufr.f90 myself and put in a branch on Github and meant to post here, but I was distracted by a question in my email.    The branch is feature/msienkie/aircraft_time_launch - though unfortunately I have a bunch of whitespace removed which puts in more diffs.

I have a printout of data from the aircraft profile file from 20201215/00z in
/discover/nobackup

[2022-10-07 20:54] gmao-jjin3 commented on #60
No problem at all. I'll take a look at your branch and your printout. I can build and run a test. Thanks again.

[2022-10-11 09:16] HamidehGMAO commented on #64
Thanks a lot, Jianjun. I really appreciate it.
________________________________
From: Jianjun Jin ***@***.***>
Sent: Saturday, July 9, 2022 2:18 PM
To: GEOS-ESM/swell ***@***.***>
Cc: h_ebrahimi ***@***.***>; Mention ***@***.***>
Subject: Re: [GEOS-ESM/swell] YAML Configuration | AVHRR (Issue #64)

@HamidehGMAO<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FHamidehG

[2022-10-11 13:33] gmao-jjin3 commented on #60
Hi Meta,
Here are new aircraft data with the variable "LaunchTime" in /discover/nobackup/jjin3/jedi/For_others/x0044.jj_20221009/conv/
aircraft_tsen_obs_2020121500.nc4
aircraft_tsen_geoval_2020121500.nc4
aircraft_uv_obs_2020121500.nc4
aircraft_uv_geoval_2020121500.nc4

[2022-10-11 16:21] danholdaway commented on #60
@gmao-msienkie @gmao-jjin3 I've run the combine tool to make single aircraft_obs and aircraft_geoval files. These replace the old files at `/discover/nobackup/drholdaw/JediUfoTests/Data/ufo/testinput_tier_1/instruments/conventional` . I see that you've called it `LaunchTime`. Should it perhaps be `launch_time` to match the convention in the naming of other variables?

[2022-10-11 16:54] gmao-jjin3 commented on #60
@danholdaway  I agree. But, that is the name in the converter "gsi_ncdiag.py".  We may need update someone else's Yaml or programs if we rename it.

[2022-10-11 17:16] gmao-msienkie commented on #60
The sondes file also has LaunchTime and several of the sonde test yaml files use it.  I wouldn't worry about it now.

[2022-10-12 00:21] gmao-wgu commented on #73
@asewnath @danholdaway @gmao-jjin3 I can duplicate your plot. However, instead of using GsiFinalObsError > 0, we could use GsiUseFlag to determine whether or not the obs would pass QC in the GSI, If I use GsiUseFlag=1,  I get the different plot as shown in the following.

![density_qced_omb_vs_gsiomb_kx247](https://user-images.githubusercontent.com/59488002/195218969-7e43f561-fefe-4bf9-ba3f-928cb4

[2022-10-19 20:09] gmao-msienkie commented on #60
The ObsErrorFactorConventional results were improved after adding the filter to reject obs with input prepbufr QC mark > 8.  Tests are done with only initial obs error and ObsErrorFactorConventional applied and EffectiveQc results compared to GsiInputObsError. There are still some inconsistencies to investigate - one set of obs with the GSI error 10x the initial error and other obs with larger Jed

[2022-10-25 15:59] asewnath commented on #73
### Duplicate Filter Requirement

The GSI contains logic for handling duplicate observations by inflating errors when duplicates occur. As of now, there doesn’t seem to be a UFO filter that corresponds to this duplicate observation handling. The following lines represent the duplicate logic found in `setupw.f90`:

- all values for the array `dup` are set to one
- two loops through all observations

[2022-10-25 17:30] gmao-msienkie commented on #73
The do-loop for l goes over all of the observations after k+1 - that means every observation (in the GSI subdomain being evaluated on the processor) after k is being compared against observation k. So it is not 'two consecutive observations' but 'an observation and every subsequent observation' with the same latitude, longitude, and pressure.  (Unless of course the observations were sorted by lati

[2022-10-25 21:27] asewnath commented on #73
### Reported Pressure Check

(thank you @gmao-wgu for providing the details for this filter and the duplicate filter above)

A filter is required for checking an observation’s vertical location with respect to surface pressure. If the reported pressure is larger than the surface pressure, the final obs error will be inflated.

As was noted in the duplicate filter above, the `ratio_errors` variable

[2022-10-26 15:37] CoryMartin-NOAA commented on #73
@bretthoover-noaa have you looked at the pressure check yet in the context of satwinds?

[2022-10-26 15:52] BrettHoover-NOAA commented on #73
@CoryMartin-NOAA I have only included initial errors for satwinds in the YAML for the GDASApp PR, this surface pressure check hasn't been a priority for satwinds because even the winds from tracking low clouds don't get close enough to the surface to trigger this error inflation, at least in the test data we've had available, but all of the satwinds need to eventually pass through this filter anyw

[2022-10-26 20:05] gmao-msienkie commented on #60
Implemented filter to inflate obs error 10x for type 130 if pressure > 500hPa.  (Technically only should apply if using aircraft_t_bc varBC but we are using that in GSI.)  This moved the stray point in lower left corner of the comparison and improved the line fit.
![corscat_eferr_vs_adjer](https://user-images.githubusercontent.com/53273921/198125938-cd42a86e-4f08-46f7-a366-cfe01e15bd09.png)

[2022-11-01 17:06] gmao-jjin3 commented on #78
![corscat_eferr_vs_finaler](https://user-images.githubusercontent.com/61251050/199291521-baa848cd-fe6a-4138-aeaf-6dbb2a1d44e9.png)
Observational errors in JEDI and GSI. There is no duplication inflation in JEDI yet.  A question, how to re-set observational error range [100-300 Pa] after the *ObsErrorFactorSfcPressure@ObsFunction* function?   The following *bounds check* filters after it have no im

[2022-11-01 20:44] gmao-jjin3 commented on #78
I tried another way to re-set the obs error range:
[code]
However, JEDI this time thinks "ObsErrorData" is a new variable and asks an input of data  'type'. However, the UFO document says it is the updated obs error:
https://jointcenterforsatellitedataassimilation-jedi-docs.readthedocs-hosted.com/en/latest/inside/jedi-components/ufo/qcfilters/introduction.html#observation-errors

Anyway, Here are

[2022-11-01 20:52] gmao-jjin3 commented on #76
![corscat_qc_omb_vs_gsiombbc](https://user-images.githubusercontent.com/61251050/199300435-aa8d26bf-c7c1-45db-9949-78f5fa767382.png)
![corscat_eferr_vs_finaler](https://user-images.githubusercontent.com/61251050/199300490-cd42879d-d787-4ab4-b479-59de69cd0892.png)

These Sfc/surface_pressure figures are made with the EMC yaml
https://github.com/NOAA-EMC/GDASApp/blob/feature/sfcps_oberrors/parm/atm/

[2022-11-02 19:35] gmao-jjin3 commented on #78
![corscat_omb_vs_gsiombbc](https://user-images.githubusercontent.com/61251050/199586019-35b5279b-d7c5-4f1f-9194-4d9e4d9a2871.png)
These O-B in UFO are close to those in GSI except for a few spots, likely because of some missing QC.

[2022-11-02 20:01] gmao-jjin3 commented on #78
Here is an issue to re-set ObsError within a range after initial inflation.
https://github.com/JCSDA-internal/ufo/issues/2363

[2022-11-16 15:57] gmao-jjin3 commented on #78
![corscat_eferr_vs_finaler](https://user-images.githubusercontent.com/61251050/202229063-19bbb34c-506f-49fa-8136-31176c4a7914.png)
Now the observational errors can be re-bounded correctly after initial inflation. See Yaml settings in https://github.com/JCSDA-internal/ufo/issues/2363.

[2022-11-17 02:16] gmao-yzhu commented on #67
I'd like to summarize the issues we have encountered when generating geoval and obs testing files:
1) added a bunch of variables to the two files;
2) the two testing files should be sorted based on record-number before they are passed into observation operator; Dan added a sorting script.
3) Jianjun fixed two bugs when writing out geopotential_height_level and air_pressure from GSI.

**Before fixe

[2022-11-17 15:33] danholdaway commented on #67
Great to see this looking correct now. Thanks @gmao-jjin3 for all the fixes to GSI.

[2022-11-18 14:56] gmao-yzhu commented on #67
Additionally,  I also noticed something such as the following:
in hofx we have:
      0.009613695, 0.01315347, 0.01365638, 0.01392684, 0.01417452,
      0.01433338, 0.01489915, _, _, _, _, _, _, _, _, _, _, _, _, _,
      0.01267338, 0.009376252, 0.0122634, 0.01165444, 0.0098651, 0.01006728,
corresponding GsiHofx are:
     0.009613694, 0.01315347, 0.01365638, 0.01392683, 0.01417452,
     0.0143333

[2022-11-21 15:01] gmao-jjin3 commented on #78
![corscat_qc_omb_vs_gsiombbc](https://user-images.githubusercontent.com/61251050/203086463-633d9640-1469-41fc-8b70-7f71194d4f11.png)
Now UFO can reproduce GSI surface pressure Hofx after a bug fix in surface pressure correction. Sondes' "height", not "station_elevation" should be used in the correction. See the UFO pull-request: https://github.com/JCSDA-internal/ufo/pull/2493

[2022-11-21 15:21] danholdaway commented on #78
Great stuff @gmao-jjin3! Thanks! When making these scatter plots can you make them for all observations rather than what passed QC? There should be a match for all obs regardless of whether each system used the observation or not.

[2022-11-22 15:28] danholdaway opened #131 "Questionary To Do List"
- [x] List of platforms should be based on list of directories in `src/swell/deployment/platforms`
- [x] Set the run ahead limit to string in case the workflow is not time based. Default can be 'P4'
- [x] Ignore __pycache__ when presenting list of directories that represent workflows to choose from.
- [x] Currently the user is allowed not to choose a model but they should have to choose at least o